# Rebuild data
Rebuilding data consists on filling invalid values (`NaN` in our case) for each building's data. This is done applying two operations:
- **Substitution**. Any day where all data is missing will be replaced by the corresponding prototype.
- **Transformation**. Otherwise, a transformation of the corresponding prototype will replace the invalid values.

In [1]:
OUT_PATH = '../data/'
PROTOS_PATH = OUT_PATH + 'prototypesMEAN.zip'

In [2]:
import pandas as pd
import numpy as np

In [3]:
protos = pd.read_pickle(PROTOS_PATH)
protos

    weekday  active  type                                       consumptions
0         0    True     2  [38.297283840311174, 50.3358496850258, 67.3876...
1         0    True     1  [11.001889049292503, 14.487953263394882, 17.83...
2         0    True     0  [2.1012870729867266, 2.4953317447056174, 2.907...
3         0   False     1  [21.868695459806606, 24.68378849828118, 27.236...
4         0   False     0  [2.1862116565256593, 2.63146236951444, 2.92304...
5         1    True     2  [38.85675383610426, 50.97112868400734, 68.3377...
6         1    True     1  [11.134594094896672, 14.524566938550246, 17.93...
7         1    True     0  [2.2343469702376284, 2.6159155327329535, 3.008...
8         1   False     1  [21.9559986566389, 24.80209455806773, 27.63495...
9         1   False     0  [2.231630536527288, 2.6820360293384935, 3.0027...
10        2    True     2  [39.47278391054742, 51.84412153482875, 69.3786...
11        2    True     1  [11.201790093904611, 14.628571452578615, 18.14...
12        2    True     0  [2.2676114333683968, 2.6399479879708316, 3.040...
13        2   False     1  [21.894815336478164, 24.71978719793128, 27.653...
14        2   False     0  [2.2245805200703956, 2.7362595566391077, 3.025...
15        3    True     2  [39.11084083643899, 51.53320572711347, 69.2300...
16        3    True     1  [11.29088271367573, 14.73629845856946, 18.2373...
17        3    True     0  [2.2607456728986532, 2.6384673100566975, 3.009...
18        3   False     1  [22.02522855777488, 24.937483747792253, 27.754...
19        3   False     0  [2.224057369827543, 2.699699707991998, 3.00545...
20        4    True     2  [40.928960017437035, 53.16177684735143, 70.822...
21        4    True     1  [11.578278165508737, 14.924221075126415, 18.56...
22        4    True     0  [2.3689529418952673, 2.7642855113856064, 3.163...
23        4   False     1  [22.483636520199674, 26.00832288931009, 29.942...
24        4   False     0  [2.366702663332762, 3.025388354307745, 3.47559...
25        5    True     2  [76.18254543292468, 76.6748382111939, 78.62177...
26        5    True     1  [17.45468184849535, 18.219514637895184, 18.874...
27        5    True     0  [3.2265611486206898, 3.228894426625616, 3.3199...
28        5   False     1  [22.421771031624193, 22.56153579070624, 22.491...
29        5   False     0  [2.3650040849370275, 2.3785176253561477, 2.405...
30        6    True     2  [76.91949954251214, 77.06412364143436, 77.6605...
31        6    True     1  [17.58581012368782, 18.342686543096054, 18.757...
32        6    True     0  [3.449473212789426, 3.4533401360893343, 3.5304...
33        6   False     1  [22.462579228191224, 22.58197608945546, 22.415...
34        6   False     0  [2.3134264727199727, 2.329798061727658, 2.3650...

In [4]:
counter_id = 487 # Building ID example

mean_proto = protos[protos['building_id'] == counter_id]
mean_proto.reset_index(drop=True, inplace=True)
mean_proto

,building_id,weekday,active,consumptions
0,487,6,False,"[9.873605754955125, 9.87921448850105, 9.841854..."
1,487,0,True,"[12.917540552534398, 12.846034435792236, 14.24..."
2,487,0,False,"[9.095493753498717, 9.137945673316095, 9.27321..."
3,487,1,True,"[14.138973848987886, 14.053810325536725, 15.34..."
4,487,1,False,"[9.429585882553527, 9.45685387208661, 9.522455..."
5,487,2,True,"[13.713544406563944, 13.719862107675102, 15.05..."
6,487,2,False,"[9.495998437211393, 9.502974940595934, 9.60752..."
7,487,3,True,"[13.918727156282095, 13.8660766138161, 15.2461..."
8,487,3,False,"[9.511928484158586, 9.491681189045083, 9.67152..."
9,487,4,True,"[13.872169929046645, 14.031764085183449, 15.11..."
10,487,4,False,"[9.55008175974445, 9.540217529130233, 9.727365..."
11,487,5,True,"[15.891897420396687, 16.030636038676562, 16.27..."
12,487,5,False,"[9.10210525572458, 9.037674594486354, 9.073119..."

In [5]:
raw_df = pd.read_pickle(OUT_PATH + 'raw_consumptions.zip')
raw_df

,building_id,weekday,consumptions
day,,,
2012-02-24,89,4,"[nan, nan, nan, nan, 0.0, 25.9682072759303, 34..."
2012-02-25,89,5,"[8.0, 8.56965980289508, 7.83041664589254, 7.83..."
2012-02-26,89,6,"[9.0, 9.0, 8.47872481882854, 8.52127518117146,..."
2012-02-27,89,0,"[9.93594069444675, 9.0, 10.0, 18.4133936140153..."
2012-02-28,89,1,"[15.0, 15.0, 15.0, 23.0, 41.3474893206788, 39...."
...,...,...,...
2020-03-28,2233,5,"[8.96294314928535, 9.1999884489703, 9.22916758..."
2020-03-29,2233,6,"[9.05122649923577, 9.10856876843712, 9.0668798..."
2020-03-30,2233,0,"[9.14786320617928, 9.46424320377272, 12.979311..."
2020-03-31,2233,1,"[9.09777728991234, 9.49875136817228, 13.959012..."
2020-04-01,2233,2,"[8.96336531305147, 9.63089935549347, 12.769867..."

In [6]:
df = raw_df[raw_df['building_id'] == counter_id]
df

,building_id,weekday,consumptions
day,,,
2013-12-17,487,1,"[nan, nan, nan, nan, nan, nan, nan, 4.49733527..."
2013-12-18,487,2,"[12.1029321298894, 12.1029321298894, 12.102932..."
2013-12-19,487,3,"[11.264909064798, 11.264909064798, 11.26490906..."
2013-12-20,487,4,"[10.9838823956164, 10.9838823956164, 10.983882..."
2013-12-21,487,5,"[6.93115242178077, 7.59915393780765, 7.5991539..."
...,...,...,...
2020-03-28,487,5,"[8.0, 9.0, 8.0, 8.0, 9.0, 9.0, 9.0, 9.0, 9.0, ..."
2020-03-29,487,6,"[9.0, 8.0, 8.0, 9.0, 8.0, 8.0, 9.0, 9.0, 8.089..."
2020-03-30,487,0,"[10.0, 10.0, 11.0, 12.8805883330563, 12.119411..."
2020-03-31,487,1,"[8.0, 7.0, 7.0, 10.0, 11.0, 14.0, 14.0, 11.154..."
2020-04-01,487,2,"[8.54540468672096, 8.0, 9.0, 10.0, 9.0, 10.0, ..."

In [7]:
def get_threshold(df: pd.DataFrame) -> float:
    df['daily'] = df['consumptions'].apply(np.sum)
    
    return df['daily'].mean() + df['daily'].std()

Obtain the threshold for the current building

In [8]:
sundays = df[df['weekday'] == 6]
threshold = get_threshold(sundays)
threshold

D:\PythonEnvironments\pytfg\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

313.9949861311162

### Substitution and Transformation
In order to get a "clean" dataset, that is, a dataset without any kind of invalid value (`Nan`, negatives...), a `transform(X, Y)` operation is applied to the whole dataset (day by day). If a whole day is invalid, it is simply replaced by the corresponding prototype (based on activity and weekday). Otherwise, the transformation is applied. This function consists on three steps:

- **Normalization**. $X$ and $Y$ are normalized.
- **Substitution**. Any invalid value on $Y$ is replaced with its corresponding $X$ value (same hour consumption).
- **Denormalization**. $Y$ is denormalized, to obtain the real consumptions.

In [9]:
def normalize(x: np.array, mean: float, std: float) -> np.array:
    return (x - mean) / std

In [10]:
def denormalize(x: np.array, mean: float, std: float) -> np.array:
    return x * std + mean

In [11]:
def transform(x: np.array, y: np.array) -> np.array:
    y = np.asarray(y)
    
    nans = np.isnan(y)
    
    if not np.any(nans): # If all are valid values, return the original
        return y
    elif np.all(nans): # If all are invalid values, return the prototype
        return x
    
    x_mean, x_std = np.mean(x), np.std(x)
    x_norm = normalize(x, x_mean, x_std)
    
    y_clean = y[~nans]
    y_mean, y_std = np.mean(y_clean), np.std(y_clean)
    y_norm = normalize(y, y_mean, y_std)
    
    y_norm[nans] = x_norm[nans]
           
    return denormalize(y_norm, y_mean, y_std)

In [12]:
for date in df.index:
    weekday = df.loc[date, 'weekday']
    
    day_of_week = (weekday == 6) or (weekday == 5) # It is a Sunday or a Saturday
    august = (date.month == 8) # August is an inactive month
    christmas = (date.month == 12 and date.day >= 23) or (date.month == 1 and date.day <= 6) # Christmas holidays
    
    inactive = (day_of_week or august or christmas)
    
    if inactive:
        df['consumptions'].loc[date] = transform(mean_proto['consumptions'][(mean_proto['weekday'] == weekday) & (mean_proto['active'] == False)].iloc[0], df.loc[date, 'consumptions'])
    else:
        df['consumptions'].loc[date] = transform(mean_proto['consumptions'][(mean_proto['weekday'] == weekday) & (mean_proto['active'] == True)].iloc[0], df.loc[date, 'consumptions'])

df

D:\PythonEnvironments\pytfg\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
D:\PythonEnvironments\pytfg\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
D:\PythonEnvironments\pytfg\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
D:\PythonEnvironments\pytfg\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

,building_id,weekday,consumptions
day,,,
2013-12-17,487,1,"[9.91793884357676, 9.879582778638838, 10.46261..."
2013-12-18,487,2,"[12.1029321298894, 12.1029321298894, 12.102932..."
2013-12-19,487,3,"[11.264909064798, 11.264909064798, 11.26490906..."
2013-12-20,487,4,"[10.9838823956164, 10.9838823956164, 10.983882..."
2013-12-21,487,5,"[6.93115242178077, 7.59915393780765, 7.5991539..."
...,...,...,...
2020-03-28,487,5,"[8.0, 9.0, 8.0, 8.0, 9.0, 9.0, 9.0, 9.0, 9.0, ..."
2020-03-29,487,6,"[9.0, 8.0, 8.0, 9.0, 8.0, 8.0, 9.0, 9.0, 8.089..."
2020-03-30,487,0,"[10.0, 10.0, 11.0, 12.8805883330563, 12.119411..."
2020-03-31,487,1,"[8.0, 7.0, 7.0, 10.0, 11.0, 14.0, 14.0, 11.154..."
2020-04-01,487,2,"[8.54540468672096, 8.0, 9.0, 10.0, 9.0, 10.0, ..."

### Activity recalculation
Only one step left to get the final dataset: calculate the day's activity. Sundays are inactive by definition, and the rest is divided via the previously calculated threshold

In [13]:
df.insert(2, 'active', True)
for date in df.index:
    daily_cons = np.sum(df.loc[date, 'consumptions']) # Calculate daily consumption
    
    if df.loc[date, 'weekday'] == 6:
        df.loc[date, 'active'] = False
    elif daily_cons > threshold:
        df.loc[date, 'active'] = True
    else:
        df.loc[date, 'active'] = False

df

D:\PythonEnvironments\pytfg\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,building_id,weekday,active,consumptions
day,,,,
2013-12-17,487,1,False,"[9.91793884357676, 9.879582778638838, 10.46261..."
2013-12-18,487,2,False,"[12.1029321298894, 12.1029321298894, 12.102932..."
2013-12-19,487,3,False,"[11.264909064798, 11.264909064798, 11.26490906..."
2013-12-20,487,4,False,"[10.9838823956164, 10.9838823956164, 10.983882..."
2013-12-21,487,5,False,"[6.93115242178077, 7.59915393780765, 7.5991539..."
...,...,...,...,...
2020-03-28,487,5,False,"[8.0, 9.0, 8.0, 8.0, 9.0, 9.0, 9.0, 9.0, 9.0, ..."
2020-03-29,487,6,False,"[9.0, 8.0, 8.0, 9.0, 8.0, 8.0, 9.0, 9.0, 8.089..."
2020-03-30,487,0,False,"[10.0, 10.0, 11.0, 12.8805883330563, 12.119411..."
2020-03-31,487,1,False,"[8.0, 7.0, 7.0, 10.0, 11.0, 14.0, 14.0, 11.154..."
2020-04-01,487,2,False,"[8.54540468672096, 8.0, 9.0, 10.0, 9.0, 10.0, ..."